{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid p-0 align-items-center text-center mx-auto bannere wow fadeOut py-auto" style="height: 400px;" data-wow-delay="0.1s">
    <h1 class="text-uppercase text-primary display-1 fw-bold text-center">
        <span class="text-white bg-secondary">Changer</span> des vies, <br>Inspirer <span class="text-white bg-secondary">l'avenir</span>
    </h1>
    <p class="text-center w-75 fw-bold" style="margin: auto;">Busola ONG, depuis sa création agit avec la conviction que le développement durable passe par la justice sociale, l’égalité de genre, la paix et l'engagement des jeunes comme acteurs de changement.</p>
</div>

<!-- Banner  Start -->
<div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="owl-carousel header-carousel py-5" >
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="carousel-text">
                        <h1 class="display-1 text-uppercase mb-3">Un Avenir Maîtrisé, Un Futur Choisi</h1>
                        <p class="fs-5 mb-5">Notre action place l’humain au cœur du développement. Nous créons des
                            opportunités pour que femmes et jeunes soient acteurs de leur propre avenir.</p>
                        <div class="d-flex">
                            <a class="btn btn-light text-primary fw-bold text-uppercase py-3 px-4 me-3" href="#!" data-bs-toggle="modal"
                                data-bs-target="#partenariatModal">Devenir partenaire</a>
                            <a class="btn btn-secondary py-3 fw-bold text-uppercase px-4" href="#!" data-bs-toggle="modal"
                            data-bs-target="#benevolatModal" >Devenir bénévole</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="carousel-img">
                        <img class="w-100" src="{% static 'site/img/carousel-1.jpg' %}" alt="Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="carousel-text">
                        <h1 class="display-1 text-uppercase mb-3">Tolérance Zéro. Dignité Totale.</h1>
                        <p class="fs-5 mb-5">Nous mobilisons les communautés, écoutons les victimes, et promouvons
                            des politiques de tolérance zéro contre les violences.</p>
                        <div class="d-flex">
                            <a class="btn btn-light text-primary fw-bold py-3 text-uppercase px-4 me-3" href="#!" data-bs-toggle="modal"
                            data-bs-target="#partenariatModal" >Devenir partenaire</a>
                            <a class="btn btn-secondary text-uppercase fw-bold py-3 px-4" href="#!" data-bs-toggle="modal"
                            data-bs-target="#benevolatModal " >Devenir bénévole</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="carousel-img">
                        <img class="w-100" src="{% static 'site/img/carousel-2.jpg' %}" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->


<!-- Partenaire Start -->
<div class="container-fluid my-5 partenaire wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col p-3"><img src="{% static 'site/img/ROYAUME UNI LOGO.jpg' %}" width="156px" height="80px" alt="">
            </div>
            <div class="col p-3"><img src="{% static 'site/img/UNICEF-logoquake.png' %}" width="156px" height="80px" alt=""></div>
            <div class="col p-3"><img src="{% static 'site/img/UNFPA.png' %}" width="156px" height="80px" alt=""></div>
            <div class="col p-3"><img src="{% static 'site/img/MdM logo.png' %}" width="110px" height="110px" alt="">
            </div>
            <div class="col p-3"><img src="{% static 'site/img/logo-care.png' %}" width="140px"
                    height="40px" class="mt-4" alt=""></div>
            <div class="col p-3"><img src="{% static 'site/img/Canada.png' %}" width="130px" height="60px" alt="">
            </div>
            <div class="col p-3"><img src="{% static 'site/img/Logo Coopération Suisse.png' %}" width="150px" height="150px" alt="">
            </div>
            <div class="col p-3"><img src="{% static 'site/img/urgent-action-fund-logo.png' %}" width="130px" height="90px" alt="">
            </div>
            <div class="col p-3">
                <img src="{% static 'site/img/engender.png' %}" width="156px" height="80px" alt="">
            </div>
            <div class="col p-3"><img src="{% static 'site/img/ROAJELF Bénin.jpg' %}" width="110px" height="110px" alt="">
            </div>
            <div class="col p-3"><img src="{% static 'site/img/Barika.jpg' %}" width="110px" height="110px" alt="">
            </div>
            <div class="col p-3"><img src="{% static 'site/img/wendia.jpg' %}" width="110px" height="110px" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Partenaire End -->



<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
                <div class="about-img">
                    <img class="img-fluid w-100" src="{% static 'site/img/about.jpg' %}" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <p class="section-title fw-semi-bold text-start text-white pe-3"><span class="bg-tertiary p-1">Qui somme nous ?</span></p>
                <h1 class="display-6 mb-4 pb-0 wow fadeIn" data-wow-delay="0.2s"> <span class="bg-primary text-white text-uppercase p-2 ">ONG Busola</span></h1>
                <p class="mb-4 wow fadeIn" data-wow-delay="0.3s">L'ONG Busola est une Organisation de la Société
                    Civile béninoise, fondé sur la conviction que
                    le développement durable repose sur la justice sociale, l'égalité de genre et la paix. Ancrée
                    à Parakou, notre organisation s'investit pour renforcer le pouvoir d'agir des communautés,
                    avec une attention particulière portée aux femmes et aux jeunes. À travers une approche
                    intégrée et des partenariats solides, nous mettons en œuvre des projets qui favorisent
                    l'autonomie, la santé, la citoyenneté active et la cohésion sociale.</p>
                <div class="row g-4 pt-2">
                    <div class="col-sm-8 wow fadeIn" data-wow-delay="0.4s">
                        <div class="h-100">
                            <h3><span class="bg-secondary text-white text-uppercase p-2 ">Notre Vision</span></h3>
                            <p> Bâtir une société juste, égalitaire et pacifique, où chaque individu, en particulier les femmes et les jeunes, dispose des pleins pouvoirs sur son corps, sa vie et son avenir, et participe activement à la construction de communautés résilientes.</p>
                            <p class="text-dark"><i class="fa fa-check text-primary me-2"></i>Promouvoir activement les droits et la santé sexuelle et reproductive ;</p>
                            <p class="text-dark"><i class="fa fa-check text-primary me-2"></i> Lutter contre les violences basées sur le genre sous toutes leurs formes ;</p>
                            <p class="text-dark mb-0"><i class="fa fa-check text-primary me-2"></i>Renforcer le   leadership et le pouvoir d'agir des femmes et des jeunes ;</p>
                            <p class="text-dark mb-0"><i class="fa fa-check text-primary me-2"></i>Bâtir des ponts pour une paix durable et une cohésion sociale inclusive.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="h-auto bg-primary text-white p-4 text-center">
                            <p class="fs-5 text-white">"Éduquer", "Protéger", "Autonomiser". </p>
                            <a class="btn btn-secondary py-2 px-4 fw-bold" href="#!" data-bs-toggle="modal"
                            data-bs-target="#benevolatModal">Participer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Statistics Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="rounded overflow-hidden">
                    <div class="row g-0">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="text-center bg-white py-5 px-4 h-100">
                                <i class="fa fa-user fa-3x text-secondary mb-3"></i>
                                <h1 class="display-5 text-primary mb-0" data-toggle="counter-up">25000</h1>
                                <span class="text-primary">Adolescents et Jeunes sensibilisés</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="text-center bg-secondary py-5 px-4 h-100">
                                <i class="fa fa-users fa-3x text-primary mb-3"></i>
                                <h1 class="display-5 text-white mb-0" data-toggle="counter-up">500</h1>
                                <span class="text-white">Femmes et Filles renforcées</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="text-center bg-secondary py-5 px-4 h-100">
                                <i class="fa fa-list-check fa-3x text-primary mb-3"></i>
                                <h1 class="display-5 text-white mb-0" data-toggle="counter-up">150</h1>
                                <span class="text-white">Leaders d'Influence</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="text-center bg-white py-5 px-4 h-100">
                                <i class="fa fa-list fa-3x text-secondary mb-3"></i>
                                <h1 class="display-5 text-primary mb-0" data-toggle="counter-up">25</h1>
                                <span class="text-primary">Partenaires technique et financier</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="section-title fw-semi-bold text-start text-white pe-3"><span class="bg-tertiary p-1">Pourquoi nous!</span></p>
                <h1 class="display-6 mb-4 wow fadeIn" data-wow-delay="0.2s"><span class="text-primary text-uppercase p-1">Nos valeurs fondamentales</span></h1>
                <p class="mb-4 wow fadeIn" data-wow-delay="0.3s">Notre action est guidée par un socle de valeurs qui définit notre identité :</p>
                <p class="text-dark wow fadeIn" data-wow-delay="0.4s"><i class="fa fa-check text-primary me-2"></i>Centralité de la personne humaine : Nous impulsons le changement sans jamais l'imposer, convaincus que chaque individu est la finalité et l'acteur principal de son propre développement.</p>
                <p class="text-dark wow fadeIn" data-wow-delay="0.5s"><i class="fa fa-check text-primary me-2"></i>Équité de Genre : Nous sommes convaincus que l'égalité entre les genres est une condition essentielle au développement et à la paix.</p>
                <p class="text-dark wow fadeIn" data-wow-delay="0.6s"><i class="fa fa-check text-primary me-2"></i>Nous travaillons en synergie avec les communautés, les autorités et d'autres organisations pour réaliser notre vision.</p>
                <p class="text-dark wow fadeIn" data-wow-delay="0.6s"><i class="fa fa-check text-primary me-2"></i>Excellen ce et Intégrité : Nous visons l'excellence dans toutes nos actions et nous nous engageons à une gestion rigoureuse et transparente.</p>
                <div class="d-flex mt-4 wow fadeIn" data-wow-delay="0.7s">
                    <a class="btn btn-light text-primary py-3 text-uppercase fw-bold px-4 me-3" href="#!" data-bs-toggle="modal"
                            data-bs-target="#partenariatModal" >Devenir partenaire</a>
                            <a class="btn btn-secondary text-uppercase fw-bold py-3 px-4" href="#!" data-bs-toggle="modal"
                            data-bs-target="#benevolatModal " >Devenir bénévole</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Statistics End -->

<!-- Dommaines  Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="container-fluid text-center py-4">
            <p class="section-title fw-semi-bold text-start text-white pe-3"> <span class="bg-tertiary p-1">Que pronons-nous ?</span></p>
            <h1 class="display-6 mb-4 wow fadeIn" data-wow-delay="0.2s"><span class="text-uppercase text-white bg-primary p-2">Nos axes stratégiques d'intervention</span></h1>
        </div>
        <div class="row g-5">
            <div class="col-md-12 col-lg-4 col-xl-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="service-title">
                    <h1 class="display-6 text-white mb-4">Sur quoi agissons-nous?</h1>
                    <p class="fs-5 mb-0 text-white">Nous oeuvrons pour garantir la dignité, renforcer le pouvoir d’agir et
                        ouvrir des opportunités aux femmes, aux jeunes et aux communautés.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-8 col-xl-9">
                <div class="row g-5">
                    <div class="col-sm-6 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="service-item h-100">
                            <div class="btn-square bg-light mb-4">
                                <i class="fa fa-droplet fa-2x text-secondary"></i>
                            </div>
                            <h3 class="pt-4 text-primary">Santé et Droits Sexuels et Reproductifs (SDSR) </h3>
                            <p class="mb-2 text-align-center">Garantir l'accès des
                                adolescent(e)s jeunes et des femmes à une information complète et à des services de
                                santé de qualité pour leur permettre de faire des choix libres et éclairés.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="service-item h-100">
                            <div class="btn-square bg-light mb-4">
                                <i class="fa fa-hospital fa-2x text-secondary"></i>
                            </div>
                            <h3 class="text-primary">Prévention et réponse aux Violences Basées sur le Genre (VBG)</h3>
                            <p class="mb-2"> Mettre en
                                œuvre des programmes de prévention et de lutte contre les VBG, faciliter la prise en
                                charge des survivantes et mener un plaidoyer pour des politiques de tolérance zéro.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="service-item h-100">
                            <div class="btn-square bg-light mb-4">
                                <i class="fa fa-hands-holding-child fa-2x text-secondary"></i>
                            </div>
                            <h3 class="pt-1 text-primary">Leadership, éducation et autonomisation</h3>
                            <p class="mb-2">Renforcer l'indépendance économique des femmes et des filles et
                                promouvoir leur participation active à tous les niveaux de la prise de décision.
                                L'accès à l'éducation est ici une conséquence directe de la lutte contre les
                                mariages précoces et de l'autonomisation.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="service-item h-100">
                            <div class="btn-square bg-light mb-4">
                                <i class="fa fa-bowl-food fa-2x text-secondary"></i>
                            </div>
                            <h3 class="text-primary">Paix, cohésion sociale et citoyennetéd</h3>
                            <p class="mb-2"> Créer des espaces de dialogue intercommunautaire, renforcer le
                                vivre-ensemble et promouvoir l'implication des jeunes et des femmes dans la
                                consolidation de la paix.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Dommaines End -->


<!-- Projects Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeIn" data-wow-delay="0.1s" style="max-width: 800px;">
            <p class="section-title fw-semi-bold text-center text-white px-3"><span class="bg-tertiary p-1">Actions</span></p>
            <h1 class="display-6 mb-4"><span class="text-uppercase text-white bg-primary fw-bold p-2" >Principales actions menées</span></h1>
        </div>
        <div class="row g-4">
            {% for action in actions %}
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="donation-item d-flex h-100 p-4">
                    <div class="donation-progress d-flex flex-column flex-shrink-0 text-center me-4 mr-4">
                        <h6 class="mb-0">Taux de réalisation</h6>
                        <div class="progress d-flex align-items-end w-100 h-100 mb-2">
                            <div class="progress-bar w-100 bg-secondary" role="progressbar"
                                aria-valuenow="{{action.taux}}" aria-valuemin="0" aria-valuemax="100">
                                <span class="fs-4">{{action.taux|floatformat:0}}%</span>
                            </div>
                        </div>
                        <h6 class="mb-0">Financement</h6>
                        <span>{{action.montant_financement|floatformat:0}} Fcfa</span>
                    </div>
                    <div class="donation-detail">
                        <div class="position-relative mb-5">
                            <img class="img-fluid w-100" src="{{action.image.url}}" alt="">
                            <a href="{% url 'action_details' action.id %}"
                                class="btn btn-sm btn-secondary px-3 position-absolute top-0 end-0">{{action.secteur}}</a>
                        </div>
                        <a href="{% url 'action_details' action.id %}" class="h3 d-inline-block">{{action.nom}}</a>
                        <p>{{action.description}}</p>
                        <a href="{% url 'action_details' action.id %}" class="btn btn-primary w-100 py-3"><i
                                class="fa fa-plus me-2"></i>En savoir
                            plus</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Projects End -->

<div class="container-fluid bg-primary text-uppercase my-5 py-2 text-center text-white wow fadeIn" style="transform: skewY(-1.5deg);" data-wow-delay="0.1s">
    <marquee behavior="scroll" direction="left" style="font-size: 20px; font-weight: bold;">Investir dans la jeunesse, c’est investir dans le changement : ses idées, son énergie et son engagement sont les leviers les plus puissants pour transformer les communautés.</marquee>
</div>


<!-- CTA Start -->
<div class="container-fluid cta banner py-5">
    <div class="container">
        <div class="banner-inner p-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="row justify-content-center">
                <div class="col-lg-8 py-5 text-center">
                    <h1 class="display-6 text-primary text-uppercase wow fadeIn" data-wow-delay="0.3s" style="line-height: 60px;">Ensemble, Offrons Plus de <span class="text-white bg-primary pt-2">Sécurité</span>, Plus
                        de <span class="text-white bg-secondary pt-2">Dignité</span>, Plus d’<span class="text-white bg-tertiary pt-2">Espoir</span>.</h1>
                    <p class="fs-5 mb-4 wow fadeIn" data-wow-delay="0.5s">Votre soutien nous permet d’accompagner
                        les survivantes de violences, d’éduquer les jeunes, de prévenir les mariages précoces et de
                        renforcer la résilience des familles vulnérables. Chaque geste compte.</p>
                    <div class="d-flex justify-content-center wow fadeIn" data-wow-delay="0.7s">
                        <a class="btn btn-light fw-bold text-primary py-3 text-uppercase px-4 me-3" href="#!" data-bs-toggle="modal"
                            data-bs-target="#partenariatModal" >Devenir partenaire</a>
                            <a class="btn btn-secondary fw-bold text-uppercase py-3 px-4" href="#!" data-bs-toggle="modal"
                            data-bs-target="#benevolatModal " >Devenir bénévole</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CTA End -->


<!-- News Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeIn" data-wow-delay="0.1s" style="max-width: 800px;">
            <p class="section-title fw-semi-bold text-center text-white px-3"><span class="bg-tertiary p-1">Actualités</span></p>
            <h1 class="display-6 text-uppercase text-primary mb-4">Soignez au courant de notre actualités en temps réel.</h1>
        </div>
        <div class="row g-4">
            {% for article in articles %}
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="event-item h-100 p-4">
                    <img class="img-fluid w-100 mb-4" src="{{article.image.url}}" alt="">
                    <p class="mb-1 texte-tertiary"><i class="fa fa-calendar-alt texte-tertiary me-2"></i>{{article.date_pub}}</p>
                    <a href="{% url 'news_details' article.id %}" class="h3 d-inline-block text-primary">{{article.titre}}</a>
                    <p>{{article.extrait}}</p>
                    <div class="">
                        <p class="mb-0"><a href="{% url 'news_details' article.id %}">Lire la suite</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- News End -->



<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
            <p class="section-title fw-semi-bold text-center text-primary px-3"><span class="text-white bg-tertiary p-1">L'équipe</span></p>
            <h1 class="display-6 mb-4"><span class="text-uppercase text-white bg-primary p-2">Découvrez la team Busola</span></h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="team-item d-flex h-100 p-4">
                    <div class="team-detail pe-4">
                        <img class="img-fluid mb-4" src="{% static 'site/img/team/pca.jpg' %}" alt="">
                        <h3>Sybgath SANNI</h3>
                        <span>Présidente du Conseil d’Administration</span>
                    </div>
                    <div class="team-social bg-light d-flex flex-column justify-content-center flex-shrink-0 p-4">
                        <a class="btn btn-square btn-primary my-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary my-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-square btn-primary my-2" href="#!"><i class="fab fa-x-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="team-item d-flex h-100 p-4">
                    <div class="team-detail pe-4">
                        <img class="img-fluid mb-4" src="{% static 'site/img/team/de.jpg' %}" alt="">
                        <h3>Abouyaïdou MAMA</h3>
                        <span>Directeur Exécutif BUSOLA ONG</span>
                    </div>
                    <div class="team-social bg-light d-flex flex-column justify-content-center flex-shrink-0 p-4">
                        <a class="btn btn-square btn-primary my-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary my-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-square btn-primary my-2" href="#!"><i class="fab fa-x-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="team-item d-flex h-100 p-4">
                    <div class="team-detail pe-4">
                        <img class="img-fluid mb-4" src="{% static 'site/img/team/anim.jpg' %}" alt="">
                        <h3>Zoulfath ZIME</h3>
                        <span>Animatrice communautaire</span>
                    </div>
                    <div class="team-social bg-light d-flex flex-column justify-content-center flex-shrink-0 p-4">
                        <a class="btn btn-square btn-primary my-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary my-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-square btn-primary my-2" href="#!"><i class="fab fa-x-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-12 col-lg-4 col-xl-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="testimonial-title">
                    <h1 class="display-6 mb-4 p-2 text-primary" style="font-size: 35px;">Témoignages</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-8 col-xl-9">
                <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay="0.3s">
                    <div class="testimonial-item">
                        <div class="row g-5 align-items-center">
                            <div class="col-md-6">
                                <div class="testimonial-img">
                                    <img class="img-fluid" src="{% static 'site/img/testimonial-1.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="testimonial-text pb-5 pb-md-0">
                                    <div class="mb-2">
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                    </div>
                                    <p class="fs-5">Education is the foundation of change. By funding schools,
                                        scholarships, and training programs, we can help children and adults unlock
                                        their potential for a better future.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="btn-lg-square bg-light text-secondary flex-shrink-0">
                                            <i class="fa fa-quote-right fa-2x"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h5 class="mb-0 text-primary">Alexander Bell</h5>
                                            <span class="texte-tertiary">CEO, Founder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<!-- Newsletter Start -->
<div class="container-fluid bg-primary py-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-6 text-white mb-4">Inscrivez-vous à la Newsletter</h1>
                <div class="position-relative w-100 mb-2">
                    <input class="form-control border-0 w-100 ps-4 pe-5" type="text" placeholder="Entrez votre Email"
                        style="height: 60px;">
                    <button type="button"
                        class="btn btn-lg-square shadow-none position-absolute top-0 end-0 mt-2 me-2"><i
                            class="fa fa-paper-plane text-primary fs-4"></i></button>
                </div>
                <p class="mb-0 text-white">N'ayez crainte vous ne reçevrez aucun Spam dans votre boîte mail.</p>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter End -->

<!-- Bouton -->


<!-- Modal -->
<div class="modal fade" id="partenariatModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered  ">
        <div class="modal-content modal-dialog-scrollable ">

            <form method="post" enctype="multipart/form-data" action="{% url 'demande_partenariat' %}">
                {% csrf_token %}

                <div class="modal-header">
                    <h5 class="modal-title">Demande de partenariat</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    <!-- Type de partenariat -->
                    <div class="mb-3">
                        <label class="form-label">Type de partenariat</label>
                        <select class="form-select" name="type_partenariat" id="typePartenariat" required>
                            <option value="">Sélectionner</option>
                            <option value="financier">Partenariat financier</option>
                            <option value="technique">Partenariat technique</option>
                            <option value="institutionnel">Partenariat institutionnel</option>
                            <option value="autre">Autre</option>
                        </select>
                    </div>

                    <!-- Organisation -->
                    <div class="mb-3 d-none" id="organisationBlock">
                        <label class="form-label">Nom de l’organisation</label>
                        <input type="text" class="form-control" name="nom_organisation">
                    </div>

                    <!-- Identité -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Nom</label>
                            <input type="text" class="form-control" name="nom" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Prénom</label>
                            <input type="text" class="form-control" name="prenom" required>
                        </div>
                    </div>

                    <!-- Contact -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Téléphone</label>
                            <input type="text" class="form-control" name="telephone" required>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Pays -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Pays</label>
                            <select class="form-select" name="pays" id="paysSelect" required>
                                <option value="">Sélectionner un pays</option>
                            </select>
                        </div>

                        <!-- Ville -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Ville</label>
                            <select class="form-select" name="ville" id="villeSelect" required disabled>
                                <option value="">Sélectionner une ville</option>
                            </select>
                        </div>
                    </div>


                    <!-- Objet -->
                    <div class="mb-3">
                        <label class="form-label">Objet de la demande</label>
                        <input type="text" class="form-control" name="objet" required>
                    </div>

                    <!-- Message -->
                    <div class="mb-3">
                        <label class="form-label">Message</label>
                        <textarea class="form-control" name="message" rows="4" required></textarea>
                    </div>

                    <!-- Document -->
                    <div class="mb-3 d-none" id="documentBlock">
                        <label class="form-label">Document joint (optionnel)</label>
                        <input type="file" class="form-control" name="document">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-secondary">Envoyer la demande</button>
                </div>

            </form>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="benevolatModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content modal-dialog-scrollable">

            <form method="post" enctype="multipart/form-data" action="{% url 'demande_benevolat' %}">
                {% csrf_token %}

                <div class="modal-header">
                    <h5 class="modal-title">Demande de Bénévolat</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">


                    <!-- Identité -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Nom</label>
                            <input type="text" class="form-control" name="nom" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Prénom</label>
                            <input type="text" class="form-control" name="prenom" required>
                        </div>
                    </div>

                    <!-- Contact -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Téléphone</label>
                            <input type="text" class="form-control" name="contact" required>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Pays -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Pays</label>
                            <select class="form-select" name="pays" id="paysSelect2" required>
                                <option value="">Sélectionner un pays</option>
                            </select>
                        </div>

                        <!-- Ville -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Ville</label>
                            <select class="form-select" name="ville" id="villeSelect2" required disabled>
                                <option value="">Sélectionner une ville</option>
                            </select>
                        </div>
                    </div>


                    <!-- Objet -->
                    <div class="mb-3">
                        <label class="form-label">Compétences</label>
                        <textarea class="form-control" name="competences" rows="3" placeholder="Quelles compétences pensez vous pouvoir mettre au service de l'organisation" required></textarea>
                    </div>

                    <!-- Message -->
                    <div class="mb-3">
                        <label class="form-label">Message</label>
                        <textarea class="form-control" name="message" rows="5" required></textarea>
                    </div>

                    <!-- Document -->
                    <div class="mb-3 d-none" id="documentBlock">
                        <label class="form-label">CV joint (optionnel)</label>
                        <input type="file" class="form-control" name="CV">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-secondary">Envoyer la demande</button>
                </div>

            </form>

        </div>
    </div>
</div>






<script>
    document.getElementById('typePartenariat').addEventListener('change', function () {

        const type = this.value;
        const organisation = document.getElementById('organisationBlock');
        const documentBlock = document.getElementById('documentBlock');

        // Reset
        organisation.classList.add('d-none');
        documentBlock.classList.add('d-none');

        if (type === 'financier' || type === 'institutionnel') {
            organisation.classList.remove('d-none');
            documentBlock.classList.remove('d-none');
        }

        if (type === 'technique') {
            organisation.classList.remove('d-none');
        }
    });

    const paysVilles = {
        "Bénin": [
            "Cotonou", "Porto-Novo", "Parakou", "Abomey-Calavi",
            "Djougou", "Bohicon", "Natitingou"
        ],
        "Togo": [
            "Lomé", "Kara", "Sokodé", "Atakpamé"
        ],
        "Burkina Faso": [
            "Ouagadougou", "Bobo-Dioulasso", "Koudougou"
        ],
        "Côte d'Ivoire": [
            "Abidjan", "Bouaké", "Yamoussoukro", "San Pedro"
        ],
        "Sénégal": [
            "Dakar", "Thiès", "Saint-Louis", "Ziguinchor"
        ],
        "Autre": []
    };

    // Initialiser les pays
    const paysSelect = document.getElementById('paysSelect');
    const villeSelect = document.getElementById('villeSelect');

    for (const pays in paysVilles) {
        const option = document.createElement('option');
        option.value = pays;
        option.textContent = pays;
        paysSelect.appendChild(option);
    }

    // Changement de pays
    paysSelect.addEventListener('change', function () {
        const pays = this.value;

        villeSelect.innerHTML = '<option value="">Sélectionner une ville</option>';
        villeSelect.disabled = true;

        if (pays && paysVilles[pays]) {
            paysVilles[pays].forEach(ville => {
                const option = document.createElement('option');
                option.value = ville;
                option.textContent = ville;
                villeSelect.appendChild(option);
            });

            if (paysVilles[pays].length > 0) {
                villeSelect.disabled = false;
            }
        }
    });


    const paysSelect2 = document.getElementById('paysSelect2');
    const villeSelect2 = document.getElementById('villeSelect2');

    for (const pays in paysVilles) {
        const option = document.createElement('option');
        option.value = pays;
        option.textContent = pays;
        paysSelect2.appendChild(option);
    }

    // Changement de pays
    paysSelect2.addEventListener('change', function () {
        const pays = this.value;

        villeSelect2.innerHTML = '<option value="">Sélectionner une ville</option>';
        villeSelect2.disabled = true;

        if (pays && paysVilles[pays]) {
            paysVilles[pays].forEach(ville => {
                const option = document.createElement('option');
                option.value = ville;
                option.textContent = ville;
                villeSelect2.appendChild(option);
            });

            if (paysVilles[pays].length > 0) {
                villeSelect2.disabled = false;
            }
        }
    });

</script>


{% endblock %}