{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-4">
            <h1 class="display-3 animated slideInDown">Actualités</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Actualités</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- News Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Actualités</p>
                <h1 class="display-6 mb-4">Soignez au courant de notre actualités en temps réel.</h1>
            </div>
            <div class="row g-4">
                {% for article in articles %}
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="event-item h-100 p-4">
                        <img class="img-fluid w-100 mb-4" src="{{article.image.url}}" alt="">
                        <p class="mb-1"><i class="fa fa-calendar-alt text-primary me-2"></i>{{article.date_pub}}</p>
                        <a href="{% url 'news_details' article.id %}" class="h3 d-inline-block">{{article.titre}}</a>
                        <p>{{article.extrait}}</p>
                        <div class="">
                            <p class="mb-0"><a href="{% url 'news_details' article.id %}">Lire la suite</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- News End -->


    <!-- Newsletter Start -->
    <div class="container-fluid bg-primary py-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-6 mb-4">Inscrivez-vous à la Newsletter</h1>
                    <div class="position-relative w-100 mb-2">
                        <input class="form-control border-0 w-100 ps-4 pe-5" type="text"
                            placeholder="Entrez votre Email" style="height: 60px;">
                        <button type="button"
                            class="btn btn-lg-square shadow-none position-absolute top-0 end-0 mt-2 me-2"><i
                                class="fa fa-paper-plane text-primary fs-4"></i></button>
                    </div>
                    <p class="mb-0">N'ayez crainte vous ne reçevrez aucun Spam dans votre boîte mail.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->


  {% endblock %}